MusicaLog.Web/Connected Services/MusicaLogService/MusicaLogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54010/MusicaLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" />
  <xs:element name="GetMusicaLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicaLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" minOccurs="0" name="GetMusicaLogsResult" nillable="true" type="q1:ArrayOfMusicaLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicaLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" minOccurs="0" name="GetMusicaLogResult" nillable="true" type="q2:MusicaLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMusicaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" minOccurs="0" name="musicaLog" nillable="true" type="q3:MusicaLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMusicaLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMusicaLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMusicaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" minOccurs="0" name="musicaLog" nillable="true" type="q4:MusicaLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMusicaLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMusicaLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMusicaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMusicaLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMusicaLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>