MusicaLog.Web/Connected Services/MusicaLogService/MusicaLogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicaLog.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMusicaLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MusicaLog" nillable="true" type="tns:MusicaLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusicaLog" nillable="true" type="tns:ArrayOfMusicaLog" />
  <xs:complexType name="MusicaLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:RecordType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusicaLog" nillable="true" type="tns:MusicaLog" />
  <xs:simpleType name="RecordType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Vinyl" />
      <xs:enumeration value="CD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecordType" nillable="true" type="tns:RecordType" />
</xs:schema>